.age-slider-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.age-slider-text {
  text-align: left;
  flex-basis: 42%;

  h1 {
    font-size: 2.5rem;
    margin: 0 0 0.5rem 0;
  }
  h2 {
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
  }
}

.age-slider-wrapper {
  flex-basis: 58%;
  margin-left: 2rem;
}

.age-slider-wrapper > h2 {
  margin: 0 5px 1rem 0;
  text-align: right;
  font-size: 1.1rem;
  font-weight: normal;
}

.age-slider-wrapper > p {
  text-align: right;
  font-size: 1.5rem;
  height: 240px;

  &.giant {
    font-size: 2rem;
    line-height: 3rem;
  }
  &.large {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  &.medium {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  &.small { font-size: 1.25rem; }
  &.tiny { font-size: 1rem; }
}

.age-slider {

}

.age-slider .thumb {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  color: white;
  border: none;
  background: white;
  transition-duration: 0.2;
  outline: none;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.age-slider .thumb:active {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
}

.age-slider .track {
  background: white;
  border-radius: 50px;
  height: 8px;
  top: 15px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.04) inset,
  0 6.7px 5.3px rgba(0, 0, 0, 0.048) inset,
}

.age-slider .track-1 {
  background: rgb(255, 96, 96);
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.14) inset,
  0 6.7px 5.3px rgba(0, 0, 0, 0.1) inset,
}