.age-slider-section {
  display: flex;
  flex-direction: row;
  margin: 8rem 0 10rem 0;
}

.age-slider-text {
  text-align: left;
  flex-basis: 42%;

  h1 {
    font-size: 2.5rem;
    margin: 0 0 0.5rem 0;
  }
  h2 {
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
  }
}

.age-slider-wrapper {
  flex-basis: 58%;
  margin-left: 2rem;
}

.age-slider-wrapper > h2 {
  margin: 0 5px 1rem 0;
  text-align: right;
  font-size: 1.1rem;
  font-weight: normal;
}

.age-slider-wrapper > .pics {
  text-align: right;
  font-size: 1.5rem;
  height: 280px;

  &.giant img {
    width: 40px;
    height: 40px;
  }
  &.large img {
    width: 36px;
    height: 36px;
  }
  &.medium img {
    width: 30px;
    height: 30px;
  }
  &.small img {
    width: 25px;
    height: 25px;
  }
  &.tiny img {
    width: 18px;
    height: 18px;
  }
}

.age-slider .thumb {
  cursor: pointer;
  width: 33px;
  height: 33px;
  border-radius: 50px;
  color: white;
  border: none;
  background: white;
  outline: none;
  box-shadow:
  0 -2.8px 10px rgba(0, 0, 0, 0.034),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

  &:hover {
    background-color: whitesmoke;
  }
}

.age-slider .thumb:active {
  width: 32px;
  height: 32px;
  box-shadow:
  0 -2.8px 5px rgba(0, 0, 0, 0.034),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
}

.age-slider .track {
  background: white;
  border-radius: 50px;
  height: 8px;
  top: 13px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.04) inset,
  0 6.7px 5.3px rgba(0, 0, 0, 0.048) inset,
}

.age-slider .track-1 {
  background: rgb(255, 96, 96);
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.14) inset,
  0 6.7px 5.3px rgba(0, 0, 0, 0.1) inset,
}

/* Media queries */

@media screen and (max-width: 1023px) {
  .age-slider-section {
    flex-direction: column;
    margin-top: 5rem;
  }

  .age-slider-text {
    h2, h1 {
      margin-left: 8vw;
      margin-right: 8vw;
    }
  }

  .age-slider-wrapper {
    width: 90vw;
    margin: 3rem auto;
    h2 {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  .age-slider-wrapper > .pics {
    height: 75vh;

    &.giant img {
      width: 11.2vw;
      height: 11.2vw;
    }
    &.large img {
      width: 10.5vw;
      height: 10.5vw;
    }
    &.medium img {
      width: 8.2vw;
      height: 8.2vw;
    }
    &.small img {
      width: 7.5vw;
      height: 7.5vw;
    }
    &.tiny img {
      width: 4.5vw;
      height: 4.5vw;
    }
  }
}