@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: white;
  font-family: inherit;
}

/* Custom styles */

.App {
  margin: 5rem auto;
  max-width: 960px;
  /* background: blue; */
  text-align: center;
  font-family: 'Merriweather', serif;
}

.main-subtitle {
  background: black;
  color: white;
  display: inline-block;
  font-size: 0.85rem;
  padding: 5px 8px;
}

.main-title {
  font-size: 3rem;
  line-height: 4.3rem;
  margin-top: 15px;
}

.author {
  font-size: 0.9rem;
  margin-bottom: 5rem;
}

.caption {
  font-size: 0.9rem;
  color: rgb(78, 78, 78);
  line-height: 1.5rem;
  margin: 0 auto 8rem auto;
  width: 500px;
}

.paragraph {
  font-size: 0.95rem;
  line-height: 1.85rem;
}

.section {
  font-size: 1.25rem;
}

.center-text {
  margin: 1rem auto;
  width: 600px;
}

.left-text {
  text-align: left;
  width: 600px;
  margin: 2rem auto;
}

.versus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.versus-text {
  flex-basis: 40%;
  h3 {
    margin: 10px 0;
    font-size: 5rem;
  }
  p {
    font-size: 1.2rem;
  }
}

/* Media queries */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  // .center-text, .left-text, .caption {
  //   width: auto;
  // }
}

// @media screen and (max-width: 500px) {
//   .App {
//     max-width: 350px;
//     margin: 4rem auto;
//   }
// }

// @media screen and (max-width: 400px) {
//   .App {
//     max-width: 300px;
//     margin: 4rem auto;
//   }
// }

@media screen and (max-width: 767px) and (orientation: portrait) {
  .versus {
    flex-direction: column;
  }
  .versus-text {
    &:first-child {margin-bottom: 2rem;}
  }
}

@media screen and (max-width: 767px) {
  @mixin default-margins {
    margin-left: 8vw;
    margin-right: 8vw;
  }

  .App {
    max-width: 100%;
  }

  .center-text, .left-text, .caption {
    width: auto;
  }

  .main-title {
    font-size: 6vw;
    line-height: 10vw;
    @include default-margins;
  }

  .author {
    font-size: 0.65rem;
    line-height: 1.3rem;
    margin-bottom: 2.5rem;
    @include default-margins;
  }

  .paragraph {
    font-size: 0.75rem;
    line-height: 1.5rem;
    @include default-margins;
  }

  .caption {
    font-size: 0.6rem;
    line-height: 1.2rem;
    margin-bottom: 3rem;
    @include default-margins;
  }

  .section {
    @include default-margins;
  }

  .versus-text {
    h3 {font-size: 4rem;}
    p {font-size: 1rem;}
  }
}
