.choropleth {
  width: 800px;
  overflow: hidden;
  // background: yellow;
}

.choropleth-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.choropleth-toolbar {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choropleth-toolbar h1 {
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.choropleth-option {
  cursor: pointer;
  background: rgb(255, 255, 255);
  font-size: 0.8rem;
  padding: 15px 15px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  transition-duration: 0.5s;
  outline: none;
  border-radius: 8px;
  box-shadow:
    0px -6px 10px rgba(255, 255, 255, 1),
    0px 4px 15px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: whitesmoke;
  }

  &:active {
    box-shadow:
      inset 0px -6px 10px rgba(255, 255, 255, 1),
      inset 0px 4px 30px rgba(0, 0, 0, 0.2),
      0px 4px 10px rgba(0, 0, 0, 0.03);
  }

  &.active {
    box-shadow:
      inset 0px -6px 10px rgba(255, 255, 255, 1),
      inset 0px 4px 15px rgba(0, 0, 0, 0.15),
      0px 4px 10px rgba(0, 0, 0, 0.03);
  }
}

.choropleth-gradient {
  display: flex;

  .gradient {
    width: 20px;
    height: 150px;
    margin-right: 8px;
  }

  .values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.tooltip {
  text-align: left;
  padding: 4px 0 10px 0;
}

.tooltip h1 {
  font-size: 1rem;
}

.tooltip p {
  font-size: 0.8rem;
  margin: 2px 0;
}

/* Media queries */

@media screen and (max-width: 1023px) {
  .choropleth-wrapper {
    display: block;
    overflow: hidden;
    padding-bottom: 1.2rem;
    margin-bottom: 1rem;
  }

  .choropleth-toolbar {
    flex-direction: column-reverse;
  }

  .choropleth-toggles {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    > h1 {display: none;}
    > button {
      width: 90px;
      margin: 0 5px;
    }
  }

  .choropleth-gradient {
    flex-direction: column;
    align-items: center;
    .gradient {
      margin: 1rem 0 0.5rem 0;
      height: 20px;
      width: 150px;
    }
    .values {
      width: 150px;
      flex-direction: row;
    }
  }
}