.grafik-increment{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  margin-top: 3rem;
}
.grafik-increment__tool-container{
  width: 65%;
  margin-top: 32px;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
.grafik-increment__button-group > button {
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow:
    0px -6px 10px rgba(255, 255, 255, 1),
    0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  transition: all 0.2s;
}
.grafik-increment__button-group > button:hover:not(:disabled){
  background-color: whitesmoke;
}
.grafik-increment__button-group > button.selected:not(:disabled){
  box-shadow:
    inset 0px -6px 10px rgba(255, 255, 255, 1),
    inset 0px 4px 15px rgba(0, 0, 0, 0.15),
    0px 4px 10px rgba(0, 0, 0, 0.03);
}
.grafik-increment__button-group > button:active {
  box-shadow:
    inset 0px -6px 10px rgba(255, 255, 255, 1),
    inset 0px 4px 30px rgba(0, 0, 0, 0.2),
    0px 4px 10px rgba(0, 0, 0, 0.03);
}
.grafik-increment__button-group > button:first-of-type{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.grafik-increment__button-group > button:last-child{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.grafik-increment__statistic-data{
  margin-top: 16px;
}

.grafik-increment__title {
  text-align: left;
}

/* Media queries */

@media screen and (max-width: 1023px) {
  .grafik-increment__tool-container {
    width: 75%;
  }
}